@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #e8e8e8;
  font-family: "Roboto Condensed", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* Menu */
header {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 60px;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: 6px 12px 0px 12px;
}

.logo {
  cursor: pointer;
}
.logo-svg,
.profile-icon {
  width: 70px;
}

.options {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Sidebar */
.sidebar {
  display: flex;
  height: 100%;
  width: 150px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 100px;
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Homepage */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* Log in Form */
/* From Uiverse.io by Yaya12085 */
.login-form {
  background-color: #fff;
  display: block;
  padding: 1rem;
  max-width: 350px;
  border-radius: 0.5rem;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.login-form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.login-input-container {
  position: relative;
}

.login-input-container input,
.login-form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.login-input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.login-input-container span {
  display: grid;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  place-content: center;
}

.login-input-container span svg {
  color: #9ca3af;
  width: 1rem;
  height: 1rem;
}

.login-submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #000000;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.signup-link {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}

/* Register Form */
.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.register-title {
  font-size: 28px;
  color: #000000;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.register-title::before,
.register-title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #000000;
}

.register-title::before {
  width: 18px;
  height: 18px;
  background-color: #000000;
}

.register-title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.register-message,
.register-signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.register-signin {
  text-align: center;
}

.register-signin a {
  color: #000000;
}

.register-signin a:hover {
  text-decoration: underline #000000;
}

.register-flex {
  display: flex;
  width: 100%;
  gap: 6px;
}
.register-div {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}
.register-flex label {
  flex: 1;
}
.register-form label {
  position: relative;
  box-sizing: border-box;
}

.register-form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

#username,
#password,
#passwordConfirmation {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}
.register-form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.register-form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.register-form label .input:focus + span,
.register-form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.register-form label .input:valid + span {
  color: green;
}

.register-submit {
  border: none;
  outline: none;
  background-color: #000000;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
}

.register-submit:hover {
  background-color: #000000;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/* profile card */
.profile-header {
  display: flex;
  align-items: center;
  /* gap: 20px; */
}
.profile-member-status,
.profile-admin-status {
  display: flex;
  gap: 3px;
}

.profile-card span {
  font-weight: bold;
}

.profile-btns {
  display: flex;
  gap: 8px;
  margin-top: 14px;
}

.logout-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background: #f0f2f5;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* From Uiverse.io by narmesh_sah */
.profile-card {
  position: relative;
  width: 440px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(48px);
  backdrop-filter: blur(48px);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 12px 12px 12px -20px rgba(0, 0, 0, 0.3);
  transform: perspective(1000px) scale(0.8); /*adjust the scale to view properly*/
  transform-style: preserve-3d;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #f0f2f5;
  margin: 0 auto 1rem;
  overflow: hidden;
  border: 3px solid white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 96px;
  background-color: #7d988a;
  border-radius: 20px 20px 0 0;
  z-index: -1;
}

.profile-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin-bottom: 1.5rem; */
  align-items: center;
}

.profile-name {
  font-size: 24px;
  font-weight: 600;
  color: #1a1a1a;
  margin-bottom: 0.25rem;
}

.profile-title {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.profile-bio {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  align-items: center;
  font-size: 0.85rem;
  color: #777;
  line-height: 1.4;
  /* margin-bottom: 1.5rem; */
}

.cta-button {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  background: #7d988a;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition:
    transform 0.2s,
    background 0.2s;
}

.cta-button:hover {
  background: #4d5d54;
  transform: translateY(-2px);
}

/* add folder modal */

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

/* folder */

.folder-div {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.folder-div:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.folder-list {
  display: grid;
}

.folder-info svg {
  width: 20px;
  height: 20px;
}

.file-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-actions svg {
  width: 30px;
  height: 30px;
}

li {
  text-decoration: none;
}

/* profile */

.profile,
.drive-icon {
  width: 50px;
  height: 50px;
}

/* index page */
.goggle-statement {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 60px;
}

#addFileBtn,
#addFolderBtn {
  display: flex;
  align-items: center;
  width: 200px;
  gap: 5px;
  background-color: #e8e8e8;
  cursor: pointer;
  border: none;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
}
.sidebar-container svg {
  width: 40px;
  height: 40px;
}

ul {
  list-style-type: none;
}
